body, div, ul, li {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  text-align: center;
}

.carousel-div {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  ul{
    list-style: none;
    font-size: 0;
    li {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      img{
        width: 100%;
      }
    }
  }
}